:root {
    --fyrkant-size: 120px;

    --arrow: rgb(94, 94, 126);
    --arrow-width: 3px;
}


#h1-wrapper {
    display: flex;
    justify-content: center;
}

#h1-about {
    font-family: 'open sans';
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    margin: 16px 0 27px 0;
    padding-bottom: 2px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
    font-size: 32px;
    /* text-transform: none; */
}

h2 {
    position: absolute;
    top: 360px;
    right: 55.5%;
    font-size: 130px;
    font-weight: 600;
    line-height: 0;
    color: rgb(201, 176, 147);
    font-family: 'Playfair Display', serif;
}

#container-main {
    background-color: rgb(22, 22, 65);
    padding: 0 9vw 9vh 9vw;

}

main {
    display: grid;
    grid-template: minmax(20vh, auto) / 60% 40%;
    justify-content: center;
    row-gap: 20vh;
}

.info {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(13, 13, 41);
    padding: 37px 50px 37px 50px;
}

.work {
    justify-self: end;
    align-self: start;
    color: var(--arrow);
    /* border-top: 1px solid var(--arrow);
    border-right: 1px solid var(--arrow); */
    height: 50px;
    min-width: 50px;
    /* padding: 20px; */
    text-transform: uppercase;
    font-family: 'open sans';
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: right;
}

.quote {
    display: none;
    position: absolute;
    top: 37px;
    left: 50px;
    font-family: 'Playfair Display', serif;
    color: var(--arrow);
    font-size: 18px;
    font-style: italic;
    opacity: 0.8;
}

.share-about {
    justify-self: start;
    align-self: end;
}

.share-about .bi,
.share-about p {
    color: rgb(94, 94, 126);
    font-size: 14.5px;
}

.share-about p {
    position: relative;
    left: -30px;
    bottom: 30px;
    font-family: 'open sans';
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 8px;
    letter-spacing: 3px;
    transform: rotate(90deg);

}

.info-content {
    display: flex;
    column-gap: 27px;
}

.arrow-about {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(219, 164, 155); */
    row-gap: 40px;
    align-items: center;
}

.arrow-up {
    position: relative;
    /* background-color: violet; */
    flex-grow: 1;
    border-right: var(--arrow-width) solid var(--arrow);
}


.arrow-down {
    position: relative;
    /* background-color: turquoise; */
    flex-grow: 1;
    border-right: var(--arrow-width) solid var(--arrow);
}

.line-1 {
    position: absolute;
    top: 6px;
    left: -14px;
    width: 20px;
    height: 2px;
    border-top: var(--arrow-width) solid var(--arrow);
    transform: rotate(-50deg);
}

.line-2 {
    position: absolute;
    bottom: 6px;
    left: -14px;
    width: 20px;
    height: 2px;
    border-top: var(--arrow-width) solid var(--arrow);
    transform: rotate(50deg);
}

.circle {
    width: 7px;
    height: 7px;
    border: var(--arrow-width) solid var(--arrow);
    border-radius: 50%;
}

.info-img {
    width: 201px;
    height: 270px;
    object-fit: cover;
    margin-bottom: 15px;
}

.info-content-2 > p {
    width: 250px;
    color: white;
    line-height: 19px;
    font-size: 14px;
    font-weight: 200;
} 

.large-img {
    position: relative;
    height: 750px;
    background-color: burlywood;
    background-image: url('../img-about/karsten-winegeart-Y0nU6dqDCbY-unsplash.jpg');
    background-size: cover;
}

.fyrkant {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    bottom: 120px;
    left: calc(var(--fyrkant-size) / -2);
    height: calc(var(--fyrkant-size) - 5px);
    width: var(--fyrkant-size);
    background-color: rgb(201, 176, 147);
    font-family: 'open sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    row-gap: 4.5px;
    padding-left: 5px;
}



.fyrkant p {
    font-family: 'playfair display';
    text-transform: none;
    font-size: 13px;
    letter-spacing: 1.3px;
}