:root {
    --dark-beige: rgb(128, 122, 107);
    --fyrkant-size: 120px;

    --arrow: rgb(94, 94, 126);
    --arrow-width: 3px;
}

html {
    scroll-behavior: smooth;
}

h2 {
    position: absolute;
    top: 290px;
    left: 69.5%;
    font-size: 130px;
    font-weight: 600;
    color: rgb(201, 176, 147);
    font-family: 'Playfair Display', serif;
    z-index: 20;
}

.h2-phone {
    display: none;
}

#h2-beliefs {
    left: 72%;
    

}

#h2-about {
    left: 73.5%;
}

h3 {
    font-family: 'playfair display';
    font-size: 30px;
    margin-bottom: 35px;
    
}

h4 {
    text-transform: uppercase;
    color: var(--dark-beige);
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: 1px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* -------------- MAIN - START -------------- */


#container-main {
    display: grid;
    justify-items: center;
    background-color: rgb(22, 22, 65);
    padding: 0 40px 15vh 40px;
    
}

h1 {
    color: rgba(255, 255, 255, 0.7);
}

.page-intro {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 55px;
    max-width: 690px;
    color: rgba(255, 255, 255, 0.6);
}

main {
    display: grid;
    grid-template: repeat(3, 750px) / 1fr;
    row-gap: 15vh;
    max-width: 1250px;
}

main > div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.info {
    position: relative;
    display: grid;
    flex: 1 0 60%;
    place-items: center;
    background-color: rgb(13, 13, 41);
    padding: 37px 50px;
}

.work {
    position: absolute;
    top: 37px;
    right: 50px;
    color: var(--arrow);
    text-transform: uppercase;
    font-family: 'open sans';
    font-size: 11.5px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: right;
}

.share-about {
    position: absolute;
    bottom: 37px;
    left: 50px;
    /* padding: 37px 50px; */
}

.share-about .bi,
.share-about p {
    color: rgb(94, 94, 126);
    font-size: 14.5px;
}

.share-about p {
    position: relative;
    left: -30px;
    bottom: 30px;
    font-family: 'open sans';
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 8px;
    letter-spacing: 3px;
    transform: rotate(90deg);
}

.bi-share {
    display: none;
}

.info-content {
    display: grid;
    grid-template-columns: 5px 250px;
    column-gap: 27px;
}

/* .info-content {
    display: flex;
    column-gap: 27px;
} */

h5 {
    display: none;
    position: relative;
    left: -10px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 50px;
    font-family: 'playfair display';
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    letter-spacing: 1px;
}

.recruit-sm-screens {
    display: none;
    background-color: violet;
    height: 20px;
    grid-column: 2 / -1;
    grid-row: 4 / 5;
}

.arrow-about {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    /* background-color: rgb(219, 164, 155); */
    row-gap: 40px;
    align-items: center;
}

.arrow-up {
    position: relative;
    /* background-color: violet; */
    flex-grow: 1;
    border-right: var(--arrow-width) solid var(--arrow);
}

.arrow-down {
    position: relative;
    /* background-color: turquoise; */
    flex-grow: 1;
    border-right: var(--arrow-width) solid var(--arrow);
}

.line-1 {
    position: absolute;
    top: 6px;
    left: -14px;
    width: 20px;
    height: 2px;
    border-top: var(--arrow-width) solid var(--arrow);
    transform: rotate(-50deg);
}

.line-2 {
    position: absolute;
    bottom: 6px;
    left: -14px;
    width: 20px;
    height: 2px;
    border-top: var(--arrow-width) solid var(--arrow);
    transform: rotate(50deg);
}

.info-img {
    width: 201px;
    height: 270px;
    margin-bottom: 15px;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
}

.info-content > p {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    width: 250px;
    color: white;
    line-height: 19px;
    font-size: 14px;
    font-weight: 200;
} 

.large-img {
    position: relative;
    flex: 0 0 40%;
    background-color: var(--dark);
}

.fyrkant {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    bottom: 120px;
    left: calc(var(--fyrkant-size) / -2);
    height: calc(var(--fyrkant-size) - 5px);
    width: var(--fyrkant-size);
    background-color: rgb(201, 176, 147);
    font-family: 'open sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    row-gap: 4.5px;
    padding-left: 3px;
    cursor: pointer;
}



.fyrkant p {
    font-family: 'playfair display';
    text-transform: none;
    font-size: 13px;
    letter-spacing: 1.3px;
}


/* -------------- POPUP WORK - START -------------- */


#work-contact {
    display: none;
    position: fixed;
    align-items: stretch;
    top: 23%;
    min-width: 800px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    z-index: 50;
    justify-content: space-between;
}

.bi-x {
    position: absolute;
    top: 10px;
    right: 3px;
    font-size: 24px;
    cursor: pointer;
    color: rgb(199, 199, 199);
}

#work-contact-info {
    display: grid;
    flex-grow: 1;
    background-color: var(--sand);
    padding: 72px 30px 80px 47px;
    align-content: end;
}

#work-contact-info > section {
    display: grid;
    row-gap: 8px;

}

#work-contact-info .bi {
    color: var(--dark-beige);
}

#work-contact-info p {
    font-size: 12px;
}

#work-contact-text {
    font-size: 14px;
    width: 72%;
    padding: 67px 80px 80px 68px;
}

#work-contact-text p {
    color: rgb(90, 90, 90);
}

.popup-work-open #work-contact {
    display: flex;
}

.popup-work-open .close-popup {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 49;
    cursor: pointer;
}


.popup-work-closed #work-contact,
.popup-work-closed .close-popup {
    display: none;
}

.close-popup {
    display: none;
}


/* -------------- MEDIA QUERIES - START -------------- */


@media screen and (max-width: 1024px) {
    #container-main {
    }

    h5 {
        display: block;
    }

    main {
        grid-template: repeat(3, 650px) / 1fr;;
    }

    /* 
    main {
        display: grid;
        grid-template: repeat(3, 750px) / 1fr;
        /* justify-content: center; 
        row-gap: 15vh;
        max-width: 1250px;
    } */

    main > div {
        flex-direction: row-reverse;
    }
    
    .info {
        padding: 20px 40px 70px 40px;
    }

    .info-content {
        column-gap: 30px;
        grid-template-columns: 5px 255px;
    }

    /* .info-content {
        display: grid;
        grid-template-columns: 5px 250px;
        column-gap: 32px;
    } */
    
    .info-img {
        width: 232px;
    }

    /* .info-img {
        width: 240px;
        height: 270px;
        margin-bottom: 15px;
        grid-column: 2 / -1;
        grid-row: 2 / 3;
    } */

    .large-img > img {
        opacity: 0.5;
    }

    h2 {
        display: none;
    }

    .large-img {
        flex: 0 0 32%;
    }

    .fyrkant {
        display: none;
        z-index: 5;
    }

    /* .large-img {
        position: relative;
        flex: 0 0 40%;
        background-color: var(--dark);
    } */

    .share-about {
        bottom: 22px;
        left: 32px;
        text-shadow: 1px 1px 15px black;
        /* padding: 37px 50px; */
    }
    
    .share-about .bi,
    .share-about p {
        color: rgb(196, 196, 219);
    }

}


@media screen and (max-width: 768px) {
    #container-main {
        grid-template-columns: minmax(auto, 500px);
    }

    /* #container-main {
        display: grid;
        justify-content: center;
        background-color: rgb(22, 22, 65);
        padding: 0 40px 15vh 40px;
    
    } */

    main {
        display: flex;
        flex-direction: column;
        row-gap: 8vh;
        min-width: 100%;
    }

/* 
    main {
        display: grid;
        grid-template: repeat(3, 750px) / 1fr;
        /* justify-content: center; 
        row-gap: 15vh;
        max-width: 1250px;
    } */

    main > div {
        background: violet;
        display: flex;
        justify-content: space-between;
    }

    /* main > div {
        display: flex;
        justify-content: space-between;
    } */

    .info {
        position: relative;
        display: grid;
        flex: 0 0 100%;
        justify-content: center;
        grid-template: auto / 1fr;
        align-items: center;
        padding: 35px 50px 105px 50px;
    }

    /* .info {
        position: relative;
        display: grid;
        flex: 1 0 60%;
        place-items: center;
        background-color: rgb(13, 13, 41);
        padding: 37px 50px;
    } */

    .large-img {
        display: none;
    }

    
    .share-about p {
        display: none;
    }

    .bi-share {
        display: inline;
    }

    h2 {
        display: none;
    }

    .fyrkant {
        display: none;
    }

    .share-about {
        bottom: 30px;
        left: 45px;
        text-shadow: 1px 1px 15px black;
        /* padding: 37px 50px; */
    }

    .work {
        top: auto;
        right: 45px;
        bottom: 30px;
    }
    
}

