
    .section2 {
       
        padding: 10px;
        
        

        font-family: 'marcellus' sans-serif;
        
        border-bottom: 1px solid var(--navy);
        text-align: center;
    }

    #container3 {
        display: flex;
        flex-flow: row nowrap;

        justify-content: space-evenly;
    
        padding: 30px;  
                    
    }

    p {
        text-align: center;
        
    }


    .picture1,
    .picture2,
    .picture3 {
        height: 300px;
        width: 300px; 
        object-fit: cover;
    }


    

    






