:root {
    --main-font: 'Montserrat', sans-serif;
    --main-font-size: 13px;
    --main-text-transform: uppercase;
}

main {
    width: 100%;
    padding: 0 5%;
}

#page-intro {
    text-align: center;
    line-height: 1.5;
    margin: 0 20px 40px 20px;
    font-size: 16px;
}

#page-intro h1 {
    color: var(--navy);
}

#product-grid-container {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    "topmenu topmenu"
    "sidebar products"
    "pagination pagination";
    gap: 10px;
}

#product-menu {
    grid-area: topmenu;
    padding: 30px 0 20px 0;
    border-top: 1px solid var(--sand);
    margin-top: 20px;
}

#product-menu a:hover {
    border-bottom: none;
    font-weight: 400;
}

#filter-buttons-container {
    grid-area: topmenu;
    display: none;
    justify-content: center;
    column-gap: 10px;
    padding: 20px 0;
    border-top: 1px solid var(--sand);
}

.categories-button,
.filter-button {
    text-align: center;
}

.categories-button button,
.filter-button button {
    background-color: var(--sand);
    color: var(--navy);
    padding: 10px 30px;
}

#product-filter {
    grid-area: sidebar;
    padding-right: 25px;
    font-size: var(--main-font-size);
}

#product-filter h2 {
    text-transform: var(--main-text-transform);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    font-weight: 400;
}

#show-products {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--sand);
}

.product-filter-choices {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    row-gap: 3px;
}

#filter-gender {
    margin-top: 10px;
}

#filter-brand {
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--sand);
    margin-bottom: 15px;
    text-transform: var(--main-text-transform);
}

#product-container {
    width: 100%;
    grid-area: products;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 31%;
    padding: 15px; 
    border: 1px solid var(--sand);
}

.product img {
    width: 100%;
}

.product div {
    font-size: var(--main-font-size);
}

.brand-text {
    color: var(--navy);
    font-weight: 500;
    margin-top: 5px;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
}

.price {
    font-weight: 400;
    margin: 5px 0;
}

.add-to-cart-container {
    text-align: right;
}

.add-to-cart-container button {
    background-color: var(--sand);
    color: var(--navy);
    padding: 10px;
}

.add-to-cart-container button,
.filter-button button,
.categories-button button {
    font-family: var(--main-font);
    text-transform: var(--main-text-transform);
    border: 1px solid var(--sand);
    border-radius: 5px;
    font-size: var(--main-font-size);
}

.add-to-cart-container i,
.filter-button i {
    margin: 0;
    font-size: var(--main-font-size);
}

.favorite,
.add-to-cart-mobile {
    background-color: var(--sand);
    color: var(--navy);
    padding: 10px 10px 10px 5px;
    font-size: var(--main-font-size);
    border-radius: 5px;
}

.add-to-cart-mobile {
    display: none;
}

#pagination {
    grid-area: pagination;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14px;
}

#pagination a {
    padding: 20px;
    border-bottom: 1px solid transparent;
}

#pagination a:hover {
    border-bottom: 1px solid black;
}

.show-more-button {
    display: none;
    grid-area: pagination;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}

.show-more-button button {
    background-color: var(--navy);
    color: var(--sand);
    padding: 10px 30px;
    font-family: var(--main-font);
    text-transform: var(--main-text-transform);
    border: 1px solid var(--navy);
    border-radius: 5px;
    font-size: var(--main-font-size);
}

button:hover {
    cursor: pointer;
}

button:active {
    border: 1px solid var(--sand);
    background-color: white;
    color: var(--navy);
}


@media screen and (min-width: 768px) and (max-width: 960px) {
    .product {
        min-width: 45%;
    }
}

@media screen and (max-width: 767px) {
    .product {
        min-width: 45%;
    }

    #product-menu,
    #product-filter,
    #pagination,
    .add-to-cart-desktop {
        display: none;
    }

    #product-grid-container {
        gap: 0px;
    }

    #filter-buttons-container {
        display: flex;
    }

    .add-to-cart-mobile,
    .show-more-button {
        display: inline-block;
    }

    .add-to-cart-container button {
        padding: 5px;
    }
}