#container-r{
    background-image: linear-gradient(white,var(--beige));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-top: 40px;
    padding-bottom: 40px;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: var(--sand);
    border: 5px solid var(--navy);
    width: 315px;
    height: 390px;
    justify-self: center;

}
.img{
    width: 270px;
    align-self: center;
    margin-top: 25px;
}
p{
    margin-left: 22px;
    margin-top: 20px;  
}

.stars{
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}
.text{
    margin-top:10px;
    margin-right: 22px;
    line-height: 1.6;
    
}
.container2{
    display: grid;
    background-color: var(--beige);
}
.form-r{
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 600px;
   height: 530px;
    margin-bottom: 45px;
    border: 5px solid var(--navy);
    background-color: var(--sand);
}
.form-r p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
#fname,
.input-text,
#comment,
input[type="submit"]{
   align-self: center;
   margin: 7px;
    
}
input[type="text"],
input[type="submit"]
{
    font-family: montserrat;
    width: 150px;
    height: 40px;

}

.rate {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    height: 46px;
    padding: 0 10px;
    
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: black;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: black;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: black;
}


@media screen and (max-width: 960px) and (min-width: 768px){
#container-r{
    grid-template-columns: repeat(2, 1fr);
}

}
@media screen and (max-width: 768px){
    #container-r{
        grid-template-columns: 1fr;
    }
    
    }